# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
*.local

# Environment
.env
.env.*.local

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Optional
.idea/
.quasar/
